h2 {
    text-transform: uppercase;
    font-size: 20px;
    background-color: orangered;
    color: white;
    text-align: center;
}

label {
    color: #2250f9;
}

h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #2250f9;
    background-color: #d4fdd6;
}

#regisn {
    background-color: #fffda9;
}